
#raider-jumbotron{
    background-color:#252A2E;
    width:100%;
    height: 500px;
}

@keyframes fadein {
    from {  transform: translate(100px,0px); opacity: 0; }
    to   { transform: translate(0px,0px); opacity: 1; }
}


#ghost-img{
    width: 50px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.headline{
    margin-left:50px;
}


