<div class="container-fluid">
    <div class="row">
        <div id="raider-jumbotron" class="jumbotron">
            <div class="text-white text-center" appPageContent>
                <div class="py-5">
                    <h6 class="orange-text font-bold">Canceling a Project?</h6>
                    <img id="ghost-img" src="../../assets/ghost.gif">
                    <h2 class="card-title pt-3 mb-4 font-bold code-raider-headline">Code Raider</h2>
                    <p class="px-5 pb-4"><b>Code Raider</b> is the best platform available to sell your old codebase<br> and get some big money!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <h4 class="headline">Recommended</h4>
    </div>
</div>
<hr>
<codebases-container
class="col-md-12"
[codebases]="codebases"
>
</codebases-container>