<div class="container" appPageContent>
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a 
                class="nav-link" 
                routerLink="./"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }">
                    Analytics 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" 
                routerLink="./users"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }">
                    Users
                </a>
              </li>
              <li class="nav-item">
                <a 
                class="nav-link" 
                routerLink="./orders"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }">
                    Orders
                </a>
              </li>
              <li class="nav-item">
                    <a 
                    class="nav-link" 
                    routerLink="./notify"
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{ exact: true }">
                        Notify
                    </a>
                </li>
            </ul>
          </nav>
          <div class="col-md-10">
              <div class="row">
                  <div class="col-md-12">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>
    </div>
</div>