  <div class="well search-container">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="tags" class="control-label">Tags</label>
        <input class="form-control" placeholder="Search tags.." name="" id="tags">
      </div>
      <div class="form-group">
          <label for="pricefrom" class="control-label">Min Price</label>
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
              </div>
            <input type="text" class="form-control" id="pricefrom" aria-describedby="basic-addon1">
          </div>
        </div>
      <div class="form-group">
        <label for="priceto" class="control-label">Max Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
          <input type="text" class="form-control" id="priceto" aria-describedby="basic-addon1">
        </div>
      </div>
      <p class="text-left">
        <a href="#" class="btn btn-primary glyphicon glyphicon-search" role="button">Search</a>
      </p>
    </form>
  </div>