@font-face {
    font-family: Quicksand-Light;
    src: url(../assets/Quicksand-Light.otf);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
 }
